{% extends "loginbase.html" %}
{% block title %} 
    Login
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/style/style.css" type="text/css">
<section class="section">
    <h2>Log In</h2>
    <form class="my-form" action="/loginpage" method="post">
        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" />
        </div>

        <br/>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" />
        </div>

        <br/>

        <input class="flex-table-cell" type="submit" value="Log in" />

        {% if error %}
        <p style="color: red;">Wrong username and password</p>
        {% endif %}

        <br/>
        <div class="link">
        <a href="/signup">Sign Up</a>
        </div>
    </form>

</section>
{% endblock %}