{% extends "base.html" %}
{% block title %}
Remarks
{% endblock %}

{% block content %}
<section class="section">
    <h2>Remark Requests</h2>
    <div class="info">
        <div class="grid-table4">

            <div class="grid-table-header"><p>Student</p></div>
            <div class="grid-table-header"><p>Work</p></div>
            <div class="grid-table-header"><p>Grade</p></div>
            <div class="grid-table-header"><p>Reason</p></div>
            <div class="grid-table-header"><p>Update</p></div>

        {% for remark in remarks %}
<!--        <div class="flex-table-row">-->
            <div class="gridcell"><p>{{ remark.username }}</p></div>
            <div class="gridcell"><p>{{ remark.name }}</p></div>
            <div class="gridcell"><p>{{ remark.grade }}</p></div>
            <div class="gridcell"><p>{{ remark.reason }}</p></div>
            <div class="gridcell"><button class=button-container"><a href="/mark">To Update</a></button></div>
<!--        </div>-->

        {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
