{% extends "loginbase.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/style/style.css" type="text/css">
<section class="section">
    <h2>Sign Up</h2>
    <form class="my-form" action="/signup" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" />
          </div>
          <br/>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" />
          </div>
        <br/>
        <div class="form-group">
        <label>Sign up as Instructor</label>
        <input type="checkbox" name="admin" />
        </div>
        <br/>

        <input type="submit" value="Sign Up" />

        <br/>
        <div class="link">
        <a href="/loginpage ">Log in</a >
        </div>
        {% if error %}
        <p style="color: red; ">Username is duplicated,please choose another username</p>
        {% endif %}

    </form>
</section>
{% endblock %}